<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cse214.theo.mailroommanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.cse214.theo.mailroommanager.DialogDeliver"

            android:theme="@style/NoTitleDialog" >
        </activity>
        <activity
            android:name="com.cse214.theo.mailroommanager.DialogMove"

            android:theme="@style/NoTitleDialog" >
        </activity>
        <activity
            android:name="com.cse214.theo.mailroommanager.DialogGet"

            android:theme="@style/NoTitleDialog" >
        </activity>
        <activity
            android:name=".ScrollingActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>